.table-data{
  background-color: white;

  border-bottom: 1px #d0cdcd solid;

  span{
    color: #545252;
  }
}

.table-data-mobile{
  margin-bottom: 2rem;
  background-color: white;
  border-bottom: 1px #d0cdcd solid;

  .table-fields{
    display: flex;
    justify-content: space-between;
    align-items: center;

    label{
      width: 30%;
      font-weight: 500;
    }

    span{
      width: 60%;
      text-align: right;
      word-wrap: break-word;
    }
  }

  span{
    color: #545252;
  }

  @media only screen and (min-width: 1080px) {
    display: none;
  }
}

