.table-heading,
.table-data
{
  background-color: #e8eef2;
  padding: 0.2rem 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: left;

  span{
    word-wrap: break-word;
    padding: 0.25rem 0.5rem;
  }

  @media only screen and (max-width: 1080px) {
    display: none;
  }
}

.table-heading{
  position: sticky;
  top: 0;
  min-width: 1080px;

}